{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="container container-form">
            <h2>Vous êtes déjà connecté !</h2>
            <p class="text-center mt-3">Accéder à la page d'accueil <a href="/">SnowTricks</a></p>
        </div>
        {% else %}
            <div class="container container-form">
                <h1 class="text-center text-uppercase text-warning fs-2">Réinitialisation</h1>
                {% if alert %}
                    <div class="container container-form">
                        <p>{{ alert }}
                            <a href="{{ path('app_register') }}">S'inscrire</a>
                                    ou entrer un email connu:
                        </p>
                    </div>
                {% else %}
                    <p class="text-center mt-3">
                        Veuillez entrer votre adresse mail. <br> Nous vous enverrons en un lien pour réinitialiser votre mot de passe !
                    </p>
                {% endif %}

                {{ form_start(ResetPasswordForm, {'attr': {'class': 'form bg-light m-2 p-4 rounded-3'}}) }}
                {{ form_row(ResetPasswordForm.email) }}
                <button type="submit" class="btn btn-warning btn-form">Envoyer</button>
                {{ form_end(ResetPasswordForm) }}
            </div>
    {% endif %}
{% endblock %}
