{% extends 'base.html.twig' %}
{% block body %}
    <div class="my-container">
        <!-- HEADER -->
        <div class="header">
            {% include 'header.html.twig' %}
        </div>

        <!-- BANNER -->
        <div class="content-large">
            <img src="{{ asset('images/snowTricks.jpg') }}" alt="snowTricks-banner" class="banner-image">
            <div class="titre-banner">
                <h1 class="text-warning">SnowTricks</h1>
                <p class="text-light">Un site communautaire pour apprendre les figures de snowboard.</p>
            </div>
            <div class="fleche-bas">
                <a href="#tricks-part-homepage"><i class="fa-solid fa-arrow-down fleche-bas"></i></a>
            </div>
        </div>
    </div>

    <!-- DISPLAY TRICKS -->
    <div class="grid-container" id="tricks-part-homepage">
        {% if tricks %}
                {% for figure in tricks %}

                    <a href="{{ path('app_trick', {id: figure.id}) }}">
                        <div class="card grid-item d-flex justify-content-between">
                            <img src={{ figure.imageUrl }} class="card-img-top" alt={{ figure.title }}>
                            <div class="card-body d-flex justify-content-around align-items-center pt-3 pb-0">
                                <h5 class="card-title">{{ figure.title }}</h5>
                                <i class="fa-solid fa-pencil"></i>
                                <i class="fa-solid fa-trash-can"></i>
                            </div>
                        </div>
                    </a>
                {% endfor%}

                {% if tricks |length  > 10 %}
                    <div id="loading">
                        <button type="button" id="load-more" class="btn btn-lg btn-outline-warning" onclick="addMore()">Load more</button>
                    </div>

                    <div class="fleche-haut d-flex justify-content-end">
                        <a href="#tricks-part-homepage"><i class="fa-solid fa-arrow-up"></i></a>
                    </div>
                {% endif %}
        {% endif %}
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}
