{% extends 'base.html.twig' %}

{% block title %}Modify Trick{% endblock %}

{% block body %}

    <div class="container container-form">
        <h1 class="text-center text-uppercase text-warning fs-2">Modifier un trick</h1>

        {{ form_start(modifyTrickForm, {'attr': {'class': 'form bg-light m-2 p-4 rounded-3'}}) }}
        {{ form_row(modifyTrickForm.title) }}
        {{ form_row(modifyTrickForm.description) }}
        {{ form_row(modifyTrickForm.imageUrl) }}
        {{ form_row(modifyTrickForm.videoUrl) }}
        {{ form_row(modifyTrickForm.images) }}

        <button type="submit" class="btn btn-warning btn-form">Submit</button>

        {{ form_end(modifyTrickForm) }}

    </div>

{% endblock %}