{% extends 'base.html.twig' %}

{% block title %}Modify Trick{% endblock %}

{% block body %}
    <!-- HEADER -->
    <div class="header">
        {% include 'header.html.twig' %}
    </div>

    <div class="container container-form">
        <h1 class="text-center text-uppercase text-warning fs-2">Modifier un trick</h1>

        {{ form_start(modifyTrickForm, {'attr': {'class': 'form bg-light m-2 p-4 rounded-3'}}) }}
        {{ form_row(modifyTrickForm.title) }}
        {{ form_row(modifyTrickForm.description) }}

        {{ form_row(modifyTrickForm.images) }}
        {% if trick.images is not null %}
            {% for image in trick.images %}
                <img src="/uploads/{{ image.url }}" class="card-img-top" alt={{ trick.title }}>
            {% endfor %}
        {% endif %}

        <label for="videoUrl">Video Url</label>
        {% if trick.videos is not null %}
            {% for item in trick.videos %}
                <input type="url" name="videoUrl" id="url" class="mb-3 form-control" value="{{ item.url }}" autocomplete="videoUrl">
            {% endfor %}
        {% endif %}

        <div id="create_trick_videoUrl" data-prototype="{{ form_row(modifyTrickForm.videoUrl.vars.prototype)|e('html_attr') }}">
            {{ form_row(modifyTrickForm.videoUrl) }}
            <span></span>
        </div>

        <button type="submit" class="btn btn-warning btn-form mt-3">Submit</button>
        {{ form_end(modifyTrickForm) }}
    </div>

{% endblock %}