{% extends 'base.html.twig' %}

{% block body %}

    <!-- HEADER -->
    <div class="header">
        {% include 'header.html.twig' %}
    </div>
    {% if trick %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="d-flex justify-content-end mx-5 mt-5">
                <a href="{{ path('app_modify_trick', {slug: trick.slug}) }}" class="p-1">
                    <i class="fa-solid fa-pencil"></i>
                </a>
                <a href="{{ path('app_delete_trick', {slug: trick.slug}) }}" class="p-1">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        {% endif %}
        <div class="container-fluid d-flex justify-content-center">

            <div class="my-trick-container">

                <div class="trick-title d-flex align-items-center justify-content-center bg-light">
                    <h1>{{ trick.title }}</h1>
                </div>

                <div class="see-media mt-5" id="see-more-btn">
                    <button type="button" class="btn btn-lg btn-outline-warning" onclick="seeMedia()">See medias</button>
                </div>

                <section class="display-medias" id="display-medias">
                    <div class="medias-images">
                        {% if trick.images is not null %}
                            {% for picture in trick.images %}
                                {% if picture.trick.id is same as id %}
                                    <div class="tricks-images m-2">
                                        <img src="/uploads/{{ picture.url }}" class="card-img-top" alt={{ trick.title }}>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="medias-videos">
                        {% if trick.videos is not null %}
                            {% for video in trick.videos %}
                                {% if video.trick.id is same as id %}
                                        <div class="tricks-images m-2">
                                            <iframe class="video-dim" src={{ video.url }} frameborder="0"></iframe>
                                        </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </section>

                <section class="description-section mt-5">
                    <div class="description-content">
                        <h2>Description de la figure</h2>
                        {{ trick.description }}
                    </div>
                    <div class="info-complementaire">
                        <div class="info-une">
                            <p class="text-secondary"><em>Publié le: {{ publishAt }}</em>
                        </div>
                        <div class="info-deux">
                            <p class="text-secondary"><em>Dernière modification: {{ lastModified |date('d-m-Y') }}</em></p>
                        </div>
                        <div class="info-trois">
                            <p class="text-secondary"><em>Niveau:</em></p>
                        </div>
                        <div class="info-trois">
                            <p class="text-secondary"><em>Groupe:</em></p>
                        </div>
                    </div>
                </section>

                {% if chats %}
                    <section class="espace-discussion mt-5" id="discussion">
                            <h2>Espace de discussion:</h2>

                            <ul class="w-100 d-flex list-unstyled flex-wrap">
                                {% for chat in chats %}
                                    <li class="w-100 d-flex align-items-center">
                                        <div class="discussion-bubble">
                                            <div class="image-bubble m-0 d-flex align-items-center">
                                                <p class="m-0 text-uppercase">{{ chat.user.firstname|slice(0, 1) }}.{{ chat.user.name|slice(0, 1) }}</p>
                                            </div>

                                            <div class="chat-content image-bubble">
                                                <p class="m-0">{{ chat.content }}</p>
                                            </div>

                                        </div>
                                        <div>
                                           <p class="mb-0 text-secondary fst-italic">publié le {{ chat.publishAt|date('d-m-Y') }} à {{ chat.publishAt|date('H:i') }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>

                            {% if total > limit %}
                            <ul class="pagination">
                                {% for item in 1..((total/limit)|round(0, 'ceil'))%}
                                    <li class="page-item {{ (page == item) ? 'active' : '' }}">
                                        <a href="?page={{ item }}#discussion" class="page-link">{{ item }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                    </section>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                   {% include 'home/chat.html.twig' %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
